<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ups.ter.morsecode"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.camera.flash" />
	
	<permission android:name="android.permission.FLASHLIGHT"
             android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
             android:protectionLevel="normal" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.sensor.light" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ups.ter.morsecode.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.CaptureLightActivity"
            android:label="@string/title_activity_capture_light" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.MorseCamReaderActivity"
            android:label="@string/title_activity_morse_cam_reader" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.LightSensorActivity"
            android:label="@string/title_activity_light_sensor" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.SoundActivity"
            android:label="@string/title_activity_sound" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.SendMorseActivity"
            android:label="@string/title_activity_send_morse" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.MorseCode"
            android:label="@string/title_activity_morse_code" >
        </activity>
        <activity
            android:name="org.ups.ter.morsecode.activities.SoundConverter"
            android:label="@string/title_activity_sound_converter" >
        </activity>
    </application>

</manifest>
